general {
    output_format = "i3bar"
    colors = true
    color_good = "#859900"
    color_degraded = "#b58900"
    color_bad = "#DC322F"
    color_min="#859900"
    color_input="#b58900"
    color_near_max="#cb4b16"
    color_max="#dc322f"
    color_near_crit="#d33682"
    color_crit="#6c71c4"
}
order += "net_rate"
order += "sysdata"
order += "diskdata"
order += "lm_sensors"
order += "emerge_status"
#order += "whatismyip"
order += "wifi"
order += "battery_level"
order += "weather_owm"
order += "time"
time {
    format = "%H:%M"
}
battery_level {
    format = "{time_remaining} {percent}%{icon}"
    hide_seconds = true
    cache_timeout = 5
}
emerge_status {
    format = "[\?if=is_running {prefix}: [\?if=!total=0 "
    format += "{current}/{total} {action} {category}/{pkg}"
    format += "|calculating...]]"
}
# remove prefix - easy copy and paste
loadavg {
    format = '[\?color=1avg {1min}] '
    format += '[\?color=5avg {5min}] '
    format += '[\?color=15avg {15min}]'
}
# show name per sensor, eg CPU1 35°C CPU2 36°C CPU3 37°C CPU4 39°C GPU 52°C
lm_sensors {
    format_chip = '{format_sensor}'
    format_sensor = '[\?if=name=core_0 ]'
    format_sensor += '[\?if=name=core_1 ]'
    format_sensor += '[\?if=name=core_2 ]'
    format_sensor += '[\?if=name=core_3 ]'
    format_sensor += '[\?if=name=gpu_core ]'
    format_sensor += '[\?color=auto.input {input}°C]'
    sensors = ['core*', 'temp*']
}
# display per cpu histogram
sysdata {
    format = "[\?color=cpu_used_percent CPU: {cpu_used_percent}%] / [\?color=mem_used_percent Mem: {mem_used}/{mem_total} {mem_total_unit} ({mem_used_percent}%)]"
}
weather_owm {
    api_key = a2950d467a093c078c32da00ce233d7d
    lang = 'fr'
    unit_temperature = 'c'
    unit_wind = 'kmh'
    format = "{city} {icon} {temperature}[ {rain}], {description}, {humidity}, {pressure}, {wind} {rain}"
    city = 'Saint-Malo'
}
diskdata {
    format = "{free}/{total_space} Gb ({total})"
}
netrate {
    format = "{interface}{up}{down}"
}
